<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Home Page</title>
</head>

<body>
    <header class="header">
        <h1>Database</h1>
        <nav class="navigation">
            <a href="/admin-home">Home</a>
            <a href="/events">Events</a>
            <a href="/logout">Sign Out</a>
        </nav>
    </header>

    <div id="database-container">
        <div id="userDB">
            <h2>Users</h2>
            <div id="userList">
                <% if(users.length){ %>
                    <%users.forEach(user=>{%>
                        <p>
                            <%= user.firstName %>
                                <%= user.lastName %>
                        </p>
                        <%if(sigdates.length) {%>
                            <ul>
                                <%sigdates.forEach(sigdate=>{%>
                                    <li>
                                        <%=sigdate.date%>
                                    </li>
                                    <%});%>
                            </ul>
                            <%} else {%>
                                <p>User has not added any significant dates to their profile.</p>
                                <%}%>
                                    <%})%>
                                        <%}%>

            </div>
        </div>
    </div>

</body>

</html>