<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Login</title>
</head>



<body>
    <header class="header">
        <a href="/">
            <h1>Leave Prediction Planner</h1>
        </a>
        <a href="/login">Login</a>
    </header>

    <div id="account-container">
        <div class="login">
            <h2>Sign In</h2>
            <form class="account-form" action="/login" method="POST">
                <label for="email">Email<input type="email" id="email" name="email" required></label>
                <label for="password">Password<input type="password" id="password" name="password" required></label>
                <input type="submit" id="account-submit" value="Login" name="login">
            </form>

            <%if(errorMessages.length> 0){
                errorMessages.forEach(message => {%>
                <div class='error'>
                    <%=message%>
                </div>
                <% }); } %>
            
                    <%if(successMessages.length> 0){
                        successMessages.forEach(message => {%>
                        <div class='success'>
                            <%=message%>
                        </div>
                        <% }); } %>

            <div style="text-align: center; margin-top: 15px; font-size: 16px;">
                <a href="/signup" id="new-account">New Instructor? Create an Account</a>
            </div>

        </div>
    </div>


</body>

</html>