<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Profile</title>
</head>

<body>
    <header class="header">
        <h1>Leave Prediction Planner</h1>
        <nav class="navigation">
            <a href="/instructor-home">Home</a>
            <a href="/">Sign Out</a>
        </nav>
    </header>

    <div class="profile-container">
        <div class="profile" style="min-height: 500px;">
            <h2>Profile</h2>
            <div class="profile-info">
                <h3>Name:</h3>
                <p><%= user.firstName + " " + user.lastName%></p>
            </div>
            <div class="profile-info">
                <h3>Email:</h3>
                <p><%= user.email%></p>
            </div>
            <div class="important-dates">
                <div class="date-header">
                    <h3>Important Dates</h3>
                    <button>Edit</button>
                </div>
                <div class="dates">
                    <p>8/27/2022</p>
                    <p>12/20/2022</p>
                </div>
            </div>
            <form>
                <input type="submit" value="Edit Account Information" id="edit" formaction="/editprofile">
            </form>

        </div>
    </div>

</body>

</html>